:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  text-align: center;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--secondary-color);
}

.hour {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-top: 1px dashed var(--primary-color);
}

.past {
  background-color: #d3d3d3;
  color: var(--secondary-color);
}

.present {
  background-color: #ff6961;
  color: var(--secondary-color);
}

.future {
  background-color: #77dd77;
  color: var(--secondary-color);
}

.saveBtn {
  border-left: 1px solid var(--primary-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: var(--secondary-color);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.testing {
  border: 2px solid black;
}

.test {
  border: 5px solid orange;
}