:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  text-align: center;
  padding: 2%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#eventAdded {
  margin: 1% auto;
  height: 80px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--primary-color);
  border-left: 1px solid var(--primary-color);
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid var(--secondary-color);
}

.hour {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-top: 1px dashed var(--primary-color);
}

.past {
  background-color: #d3d3d3;
  color: var(--secondary-color);
}

.present {
  background-color: #ff6961;
  color: var(--secondary-color);
}

.future {
  background-color: #77dd77;
  color: var(--secondary-color);
}

.saveBtn {
  border-left: 1px solid var(--primary-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: var(--secondary-color);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.refreshPlanner {
  text-align: center;
}

.deleteBtn {
  background-color: #ff6961;
  padding: 2%;
  color: var(--secondary-color);
  border-radius: 10px;
  margin: 2% auto;
  min-height: 60px;
  font-weight: bold;
  font-size: 18px;
}

.deleteBtn:hover {
  background-color: #ad1f17;
}

